STATIC_PATH=public
HOST=localhost
PORT=3000

BACKEND_URL=http://localhost:3001
TRACK_URL=http://localhost:3002
LOG_LEVEL=warn
LOG_PATH=logs

REDIS_HOST=localhost
REDIS_PORT=6379

TEST_REDIS_HOST=localhost
TEST_REDIS_PORT=6380

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=tracking-gps
KAFKA_LOG_LEVEL=INFO

TEST_KAFKA_BROKER=localhost:9092
TEST_KAFKA_CLIENT_ID=tracking-gps-test

CLICKHOUSE_HOST=http://localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=your-db
CLICKHOUSE_USER=your-user
CLICKHOUSE_PASSWORD=your-password-here

TEST_CLICKHOUSE_HOST=http://localhost
TEST_CLICKHOUSE_PORT=8124
TEST_CLICKHOUSE_DB=your-db-test
TEST_CLICKHOUSE_USER=your-user-test
TEST_CLICKHOUSE_PASSWORD=your-password-here-test

NOTIFICATION_URL=http://localhost:7768
GPS_RADIUS=2.5
MAX_METERS_PER_SECOND=100