STATIC_PATH=public
HOST=localhost
PORT=3000

BACKEND_URL=http://localhost:3001
TRACK_URL=http://localhost:3002
LOG_LEVEL=warn
LOG_PATH=logs

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=tracking-gps
KAFKA_LOG_LEVEL=INFO
