STATIC_PATH=public
HOST=localhost
PORT=3000

BACKEND_URL=http://localhost:3001
TRACK_URL=http://localhost:3002
LOG_LEVEL=warn
LOG_PATH=logs

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=tracking-gps
KAFKA_LOG_LEVEL=INFO

CLICKHOUSE_HOST=http://localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=your-db
CLICKHOUSE_USER=your-user
CLICKHOUSE_PASSWORD=your-password-here

NOTIFICATION_URL=http://localhost:7768
GPS_RADIUS=2.5
MAX_METERS_PER_SECOND=100
OSRM_URL=http://localhost:5000

## Integration test env.test example variables
STATIC_PATH=public
HOST=localhost
PORT=3000

BACKEND_URL=http://localhost:3001
TRACK_URL=http://localhost:3002
LOG_LEVEL=warn
LOG_PATH=logs

REDIS_HOST=localhost
REDIS_PORT=6380

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=tracking-gps-test
KAFKA_LOG_LEVEL=INFO

CLICKHOUSE_HOST=http://localhost
CLICKHOUSE_PORT=8124
CLICKHOUSE_DB=your-db-test
CLICKHOUSE_USER=your-user-test
CLICKHOUSE_PASSWORD=your-password-here-test

NOTIFICATION_URL=http://localhost:7768
GPS_RADIUS=2.5
MAX_METERS_PER_SECOND=100
OSRM_URL=http://localhost:5000